-i https://pypi.python.org/simple
altair
black
bokeh
boto3
bottleneck
colorama
cloudpickle
crayons
cufflinks
dask[complete]
dask-labextension
dill
docutils
dothub
formulaic
flake8
gitdb2
github-token
GitPython
giturlparse
google-api-python-client
google-auth
holoviews
html5lib
hvac
hvplot
idna
imagesize
ipaddr
ipaddress
ipykernel
ipyscales
ipython
ipython-genutils
ipywidgets
jedi==0.17.2
jenkinsapi
Jinja2
jira
jmespath
jsonpatch
jsonpickle
jsonpointer
jsonschema
# jupyter
# jupyter-client
# jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
# jupyter-core
# jupyter-highlight-selected-word
# jupyter-js-widgets-nbextension
# jupyter-latex-envs
# jupyter-nbextensions-configurator
# jupyter-notebook-gist
jupyterlab==3.3.4
jupyterlab_code_formatter==1.4.10
jupyterlab_git
jupyterlab_latex
jupyterlab-lsp
jupyterthemes
kubernetes
matplotlib
mistune
mpmath
nbconvert
nbformat
notebook
numba
numexpr
numpy
oauthlib
pandas
panel
paramiko
pbr
pep8
perspective-python
pexpect
pickleshare
pluggy
pockets
prettytable
protobuf
psutil
psycopg2
ptyprocess
py
pyasn1
pyasn1-modules
pycrypto
pycryptodome
PyGithub
Pygments
pyhcl
PyJWT
pymongo
pyparsing
pytest
pytest-cov
pytest-xdist
python-dateutil
python-jose
python-lsp-server[all]
pythreejs
pytz
pyyaml
pyzmq
qtconsole
regex
requests
requests-html
requests-oauthlib
requests-toolbelt
rsa
scikit-learn
simplejson
six
smmap2
snowballstemmer
Sphinx
SQLAlchemy
sshtunnel
statsmodels
sympy
tabulate
terminado
testpath
tornado
tox
traitlets
tzlocal
ujson
untangle
urllib3
urwid
vega
voluptuous
wcwidth
webencodings
websocket-client
wfuzz
Whoosh
widgetsnbextension
xlrd
yamllint
yapf
